<div class="width: 98%">
    <img src="//ico.ukm.no/chart-256.png" style="float:right;" width="200" />
    <h1>Oppdater undersider</h1>

    <p class="lead">
        Følgende sider er nå oppdatert. Husk å oppdatere alle sider.
    </p>

    <div class="clearfix"></div>

    <ol class="list-group-item">
        {% for site in sites %}
            <li class="list-group-item">
                <b>{{ site.blog_id }}: </b>
                <a href="https://{{ site.domain ~ site.path }}" target="_blank">{{ site.domain ~ site.path }}</a>
            </li>
        {% else %}
            <li class="list-group-item">Alle sider oppdatert!</li>
        {% endfor %}
    </ol>

    <div class="clearfix"></div>

    <p>
        <a href="?page={{ GET('page') }}&action=undersider_update&offset={{ offset }}" class="btn btn-success">Oppdater neste {{ sites_per_load }} sider</a>
    </p>
</div>