<div class="row">
	<div class="col-xs-12 as-margin-bottom-space-2">
		{% include "Monstring/breadcrumb.html.twig" %}
	</div>
</div>

<div class="nosh-impt as-card-2 as-padding-space-1 as-padding-left-space-2 as-padding-right-space-2 as-margin-bottom-space-2">
	<p class="nom">Arrangement nettside:
		<b></b>
		<a href="{{ arrangement.getArrangementNettsideURL() }}" target="_blank" class="btn btn-ukm btn-xs">Vis nettsiden</a>
	</p>
</div>

<div class="row">
	<div class="col-12 col-sm-12 mt-3">
		<div class="form-group form-group-lg">
			<label>Navn på arrangementet</label>
			<input type="text" class="form-control input-lg" name="navn" value="{{ arrangement.getNavn() }}" placeholder="Navn på arrangementet"/>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-12 col-sm-12 mt-3">
		<div class="form-group form-group-lg">
			<label>Forsidebilde</label>
			<p class="text-muted" style="margin-top: 0">Bilde vises på nettsiden</p>
			
			<div>
				<input type="hidden" id="banner_image_id_input" name="banner_image_id" value="{{ image_id }}"/>
				<input type="hidden" id="arrangement_banner_image_input" name="banner_image" value="{{ bilde_banner }}"/>
				<button type="button" class="btn btn-ukm btn-primary btn-sm" id="banner_image_select">Velg bilde</button>
				{% if bilde_banner is not empty %}
					&nbsp;
					<button type="button" class="btn btn-ukm btn-danger btn-sm" id="banner_image_remove">Fjern bilde</button>
				{% endif %}
				<div class="clearfix"></div>
			</div>
			<div class="forside-detaljer" {{ bilde_banner is empty ? 'style="display:none;"' }}>
				<img id="arrangementBannerImage" src="{{ bilde_banner }}" />
			</div>
		</div>

	</div>
</div>

<div class="row">
	<div class="col-12 col-sm-12 mt-3">
		<div class="form-group">
			<label>Beskrivelse</label>
			<textarea class="form-control" name="beskrivelse" placeholder="Beskrivelse av arrangementet">{{ arrangement.getBeskrivelse() }}</textarea>
			<p class="text-muted" style="margin-top: -.6em; padding-left: .2em">Beskrivelse vises på nettsiden</p>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-12 col-sm-12 mt-3">
		<div class="form-group">
			<label>Info til deltakere</label>
			<textarea class="form-control" name="info_til_deltakere" placeholder="Viktig beskjed, en lenke eller noe annet">{{ arrangement.getInfoTilDeltakere() }}</textarea>
			<p class="text-muted" style="margin-top: -.6em; padding-left: .2em">Info til deltakere vises kun når deltakeren er meld på i påmeldingssystemet</p>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-12 col-sm-7 hvisSynlig" style="{{display_hvisSynlig}}">
		{% for key, value in arrangement.getGoogleMap().getPOSTValues() %}
			<input type="hidden" name="location_{{key}}" id="location-{{key}}" value="{{value}}"/>
		{% endfor %}
		<div class="form-group">
			<label>Hvor skal arrangementet være?</label>
			<input id="searchMapInput" type="text" class="form-control mapControls" name="sted" value="{{ arrangement.getSted() }}"/>
			<p class="text-muted" style="margin-top: -.6em; padding-left: .2em">Stedet må være søkbart i google maps, og du kan både bruke navn og adresser.</p>
		</div>
	</div>

	<div class="col-12 col-sm-5" id="mapContainer">
		<div class="hvisSynlig" style="{{display_hvisSynlig}}">
			<a href="{{ arrangement.getGoogleMap().getLink() }}" target="_blank" id="mapLink">
				<img src="" width="100%" style="min-height: 200px;" id="map"/>
			</a>
			<p class="mb-3">&nbsp;</p>
		</div>
	</div>


	<div class="col-xs-12 col-sm-{{ arrangement.erSynlig() ? '7' : '12' }}" id="startTimeContainer">
		<label>Når starter arrangementet?</label>
	</div>
	<div class="col-xs-8 col-sm-4">
		<div class="form-group">
			<input class="datepicker_{{ arrangement.getType() }} form-control" type="text" name="pl_start" value="{{ arrangement.getStart()|dato('d.m.Y') }}">
		</div>
	</div>
	<div class="col-xs-4 col-sm-3">
		<div class="input-group">
			<span class="input-group-addon">kl.
			</span>
			<select class="form-control" name="pl_start_time">
				{% include "hourPicker.html.twig" with { current: arrangement.getStart() } %}
			</select>
		</div>
	</div>

	<div class="col-xs-12">
		<label>Omtrent når er arrangementet ferdig?</label>
	</div>
	<div class="col-xs-8 col-sm-4">
		<div class="form-group">
			<input class="datepicker_{{ arrangement.getType() }} form-control" type="text" name="pl_stop" value="{{ arrangement.getStop()|dato('d.m.Y') }}">
		</div>
	</div>
	<div class="col-xs-4 col-sm-3">
		<div class="input-group">
			<span class="input-group-addon">kl.</span>
			<select class="form-control" name="pl_stop_time">
				{% include "hourPicker.html.twig" with { current: arrangement.getStop() } %}
			</select>
		</div>
	</div>

	<div class="clearfix"></div>
</div>


<style>
#arrangementBannerImage {
	margin-top: 10px;
	max-width: 400px;
	height: auto;
}
</style>

<script src="https://maps.googleapis.com/maps/api/js?libraries=places&callback=initMap&key={{ GOOGLE_API_KEY }}" async defer></script>

<script>
jQuery(document).on('click', '#banner_image_select', function(e) {
    var custom_uploader = wp.media({
            title: 'Velg banner-bilde',
            button: {
                text: 'Bruk dette bildet'
            },
            multiple: false // Set this to true to allow multiple files to be selected
        })
        .on('select', function() {
            var attachment = custom_uploader.state().get('selection').first().toJSON();

            //console.log( attachment );
            var image = attachment.sizes.large;
            if (image == null || image == undefined) {
                image = attachment.sizes.full;
            }

			console.log('imageBB');
			console.log(image);

            jQuery('.forside-header').css('background-image', 'url(' + image.url + ')');
            
			jQuery('.forside-detaljer').slideDown();
            jQuery('#arrangementBannerImage').attr('src', image.url);
            jQuery('#arrangement_banner_image_input').val(image.url);
            jQuery('#banner_image_id_input').val(attachment.id);
        })
        .open();
});

jQuery(document).on('click', '#banner_image_remove', function() {
    jQuery('.forside-header').attr('background-image', false);
    jQuery('.forside-detaljer').slideUp();
    jQuery('#arrangement_banner_image_input').val(false);

    jQuery('#banner_image_remove').hide();
});


</script>