<div class="row">
	<div class="col-xs-12 as-margin-bottom-space-2">
		{% include "Monstring/breadcrumb.html.twig" %}
	</div>
</div>

<div class="nosh-impt as-card-2 as-padding-space-1 as-padding-left-space-2 as-padding-right-space-2 as-margin-bottom-space-2">
	<p class="nom">Arrangement nettside:
		<b></b>
		<a href="/{{ arrangement.getPath() }}" target="_blank" class="btn btn-ukm btn-xs">Vis nettsiden</a>
	</p>
</div>

<div class="row">
	<div class="col-12 col-sm-12 mt-3">
		<div class="form-group form-group-lg">
			<label>Navn på arrangementet</label>
			<input type="text" class="form-control input-lg" name="navn" value="{{ arrangement.getNavn() }}" placeholder="Navn på arrangementet"/>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-12 col-sm-7 hvisSynlig" style="{{display_hvisSynlig}}">
		{% for key, value in arrangement.getGoogleMap().getPOSTValues() %}
			<input type="hidden" name="location_{{key}}" id="location-{{key}}" value="{{value}}"/>
		{% endfor %}
		<div class="form-group">
			<label>Hvor skal arrangementet være?</label>
			<input id="searchMapInput" type="text" class="form-control mapControls" name="sted" value="{{ arrangement.getSted() }}"/>
			<p class="text-muted" style="margin-top: -.6em; padding-left: .2em">Stedet må være søkbart i google maps, og du kan både bruke navn og adresser.</p>
		</div>
	</div>

	<div class="col-12 col-sm-5" id="mapContainer">
		<div class="hvisSynlig" style="{{display_hvisSynlig}}">
			<a href="{{ arrangement.getGoogleMap().getLink() }}" target="_blank" id="mapLink">
				<img src="" width="100%" style="min-height: 200px;" id="map"/>
			</a>
			<p class="mb-3">&nbsp;</p>
		</div>
	</div>


	<div class="col-xs-12 col-sm-{{ arrangement.erSynlig() ? '7' : '12' }}" id="startTimeContainer">
		<label>Når starter arrangementet?</label>
	</div>
	<div class="col-xs-8 col-sm-4">
		<div class="form-group">
			<input class="datepicker_{{ arrangement.getType() }} form-control" type="text" name="pl_start" value="{{ arrangement.getStart()|dato('d.m.Y') }}">
		</div>
	</div>
	<div class="col-xs-4 col-sm-3">
		<div class="input-group">
			<span class="input-group-addon">kl.
			</span>
			<select class="form-control" name="pl_start_time">
				{% include "hourPicker.html.twig" with { current: arrangement.getStart() } %}
			</select>
		</div>
	</div>

	<div class="col-xs-12">
		<label>Omtrent når er arrangementet ferdig?</label>
	</div>
	<div class="col-xs-8 col-sm-4">
		<div class="form-group">
			<input class="datepicker_{{ arrangement.getType() }} form-control" type="text" name="pl_stop" value="{{ arrangement.getStop()|dato('d.m.Y') }}">
		</div>
	</div>
	<div class="col-xs-4 col-sm-3">
		<div class="input-group">
			<span class="input-group-addon">kl.</span>
			<select class="form-control" name="pl_stop_time">
				{% include "hourPicker.html.twig" with { current: arrangement.getStop() } %}
			</select>
		</div>
	</div>

	<div class="clearfix"></div>
</div>


<script src="https://maps.googleapis.com/maps/api/js?libraries=places&callback=initMap&key={{ GOOGLE_API_KEY }}" async defer></script>
