<div class="row" style="margin-top: 3em;">
	<div class="col-12 col-sm-12">
		<h4>Økonomi og kvoter for den nasjonale UKM-festivalen</h4>

		<ol class="list-group">
			<li class="list-group-item">
				<div class="row">
					<div class="col-6 col-sm-7">
						<label>Hva er ordinær deltakerkvote?</label>
					</div>
					<div class="col-6 col-sm-5">
						<div class="input-group">
							<input type="number" class="form-control" maxlength="3" style="width: 3.5em;" name="kvote_deltakere" value="{{ arrangement.getMetaValue('kvote_deltakere') }}"/>
							deltakere
						</div>
					</div>
				</div>
			</li>

			<li class="list-group-item">
				<div class="row">
					<div class="col-6 col-sm-7">
						<label>Hva er ordinær lederkvote?</label>
					</div>
					<div class="col-6 col-sm-5">
						<div class="input-group">
							<input type="number" class="form-control" maxlength="3" style="width: 3.5em;" name="kvote_ledere" value="{{ arrangement.getMetaValue('kvote_ledere') }}"/>
							ledere
						</div>
					</div>
				</div>
			</li>

			<li class="list-group-item">
				<div class="row">
					<div class="col-6 col-sm-7">
						<label>Hva er ordinær deltakeravgift?</label>
					</div>
					<div class="col-6 col-sm-5">
						<div class="input-group">
							<span class="input-group-addon">kr.</span>
							<input type="number" class="form-control" maxlength="4" name="avgift_ordinar" value="{{ arrangement.getMetaValue('avgift_ordinar') }}"/>
						</div>
					</div>
				</div>
			</li>

			<li class="list-group-item">
				<div class="row">
					<div class="col-6 col-sm-7">
						<label>Hva er subsidiert deltakeravgift?</label>
					</div>
					<div class="col-6 col-sm-5">
						<div class="input-group">
							<span class="input-group-addon">kr.</span>
							<input type="number" class="form-control" maxlength="4" name="avgift_subsidiert" value="{{ arrangement.getMetaValue('avgift_subsidiert') }}"/>
						</div>
					</div>
				</div>
			</li>
			<li class="list-group-item">
				<div class="row">
					<div class="col-6 col-sm-7">
						<label>Hva er reiseavgift?</label>
					</div>
					<div class="col-6 col-sm-5">
						<div class="input-group">
							<span class="input-group-addon">kr.</span>
							<input type="number" class="form-control" maxlength="4" name="avgift_reise" value="{{ arrangement.getMetaValue('avgift_reise') }}"/>
						</div>
					</div>
				</div>
			</li>
		</ol>
		<p class="help text-muted" style="margin-top: -1em;">
			Husk å sjekke ut siden "<a href="?page=UKMarrangement_videresending">Videresending</a>" (etter du har lagret) 
			hvor du blant annet finner innstillinger for ledere, pris per hotell-overnatting o.l.
		</p>
	</div>
</div>

<div class="row" style="margin-top: 3em;">
	<div class="col-12 col-sm-12">
		<h4>Videresendte arrangementer fra fylker</h4>
		<span style="margin-bottom: 8px !important; margin-top: 0 !important" class="notice notice-warning update-nag inline">Bare <b>superadministratorer</b> har full tilgang til alle arrangementer. Dersom du ikke har de nødvendige rettighetene og ønsker tilgang til et arrangement, ber vi deg vennligst kontakte oss på <a href="mailto:support@ukm.no">support@ukm.no</a></span>
	</div>
</div>


<ol class="list-group">
{% for fylkeArr in videresendtArrFylke %}
	<li class="list-group-item">
		<a href="{{ fylkeArr.link }}">
			<div class="row">
				<div class="col-6 col-sm-7">
					<label>{{ fylkeArr.arrangementName }} - ({{ fylkeArr.fylkeName }})</label>
				</div>
			</div>
		</a>
	</li>
{% endfor %}
</ol>
