<div class="row" style="margin-top: 3em;">
	<div class="col-12 col-sm-12">
		<label>Skal noen innslag nomineres før de kan videresendes?</label>

		<div>
			<div class="btn-group radioButtons" data-name="benyttNominasjon">
				<button type="button" class="btn btn-default {{ arrangement.harNominasjon() ? 'selected' }}" value="true">
					&nbsp; Ja &nbsp;</button>
				<button type="button" class="btn btn-default {{ not arrangement.harNominasjon() ? 'selected' }}" value="false">
					&nbsp; Nei &nbsp;</button>
			</div>
		</div>
	</div>

	<div class="col-12 col-sm-12 mt-5" id="nominasjon_detaljer">
		<label>Velg hvilke typer innslag som skal nomineres</label>
		<p class="text-muted">OBS: du må huske å krysse av for om du tar i mot videresending også (se ovenfor)</p>
		<ol class="list-group">
			{% for type in innslag_typer|filter(type => type.kanHaNominasjon() ) %}
				<li class="list-group-item">

					<div class="pull-right">
						<div class="btn-group radioButtons" data-name="nominer_{{type.getKey()}}">
							<button type="button" class="btn btn-default {{ arrangement.harNominasjonFor(type) ? 'selected' }}" value="true">
								&nbsp; Ja &nbsp;</button>
							<button type="button" class="btn btn-default {{ not arrangement.harNominasjonFor(type) ? 'selected' }}" value="false">
								&nbsp; Nei &nbsp;</button>
						</div>
					</div>

					{{ type.getNavn() }}
                    <div class="clearfix"></div>
				</li>
			{% endfor %}
		</ol>
	</div>
</div>
