<div class="row">
	<div class="col-xs-12 col-sm-12">
		<h4 class="mt-5">Påmelding</h4>

		<p>
			Fordi dette er en mønstring, kan du velge hvilke typer innslag du tar i mot påmelding for.
            Skal du ha et arrangementet hvor de deltar som seg selv, og ikke som et innslag, må du opprette et workshop-arrangement.
		</p>

		<ol class="list-group">
			{# PÅMELDING FRA FYLKE ELLER LAND (HVIS FYLKE-ARRANGEMENT) #}
			{% include "Monstring/nedslagsfelt.html.twig" %}

			{% if arrangement.getType() != 'fylke' %}
				<li class="list-group-item">
					Arrangementet tar i mot påmelding for
					{% for kommune in arrangement.getKommuner().getAll() %}
						{{ kommune.getFylke().erOslo() ? ' bydel ' }}
						{{ kommune }}
						{{ not kommune.getFylke().erOslo() ? ' kommune ' }}
						{% if loop.index == arrangement.getKommuner().getAntall() - 1 %}
							og
							{% elseif loop.index < arrangement.getKommuner().getAntall() %},
						{% endif %}
					{% endfor %}.
                    Skal du legge til eller fjerne en
					{{ arrangement.getFylke().erOslo() ? 'bydel' : 'kommune' }}, må du
					<a href="mailto:support@ukm.no?subject=Endre fellesmønstring">sende en e-post til support@ukm.no</a>
				</li>
			{% endif %}
		</ol>
	</div>

	<div class="col-12 col-sm-6">
		<label class="bold">Påmeldingsfrist for de som vil vise frem noe</label>
		<div class="input-group" style="margin-bottom: 1em;">
			<input class="datepicker_kommune form-control" type="text" name="pl_deadline" value="{{ arrangement.getFrist1()|dato('d.m.Y') }}"/>
			<span class="input-group-addon">kl. 23:59</span>
		</div>
		<input type="hidden" name="pl_deadline_time" value="23:59" />

		<ol class="list-group">
			{% for innslag_type in innslag_typer|filter( innslag_type => innslag_type.erViseFrem()) %}
				<li class="list-group-item">
					<div class="checkbox" style="margin-top: 0px; margin-bottom: 0px;">
						{% include "Monstring/pamelding_pameldte_per_type.html.twig" %}
						<label>
							<input type="checkbox" name="tilbud_{{ innslag_type.getKey() }}" value="on" {{ arrangement.getInnslagTyper().har( innslag_type ) ? 'checked' }}/>
							{{ innslag_type.getNavn() }}
						</label>
					</div>
				</li>
			{% endfor %}
		</ol>
	</div>


	<div class="col-12 col-sm-6">
		<label class="bold">Påmeldingsfrist for de som vil bidra som noe</label>
		<div class="input-group" style="margin-bottom: 1em;">
			<input class="datepicker_kommune form-control" type="text" name="pl_deadline2" value="{{ arrangement.getFrist2()|dato('d.m.Y') }}"/>
			<span class="input-group-addon">kl. 23:59</span>
		</div>
		<input type="hidden" name="pl_deadline2_time" value="23:59" />

		<ol class="list-group">
			{% for innslag_type in innslag_typer|filter( (innslag_type, arrangement) => innslag_type.erJobbeMed() and (innslag_type.getKey() != 'ressurs' or arrangement.getType() == 'land')) %}
				<li class="list-group-item">
					<div class="checkbox" style="margin-top: 0px; margin-bottom: 0px;">
						{% include "Monstring/pamelding_pameldte_per_type.html.twig" %}
						<label>
							<input type="checkbox" name="tilbud_{{ innslag_type.getKey() }}" value="on" {{ arrangement.getInnslagTyper().har( innslag_type ) ? 'checked' }}/>
							{{ innslag_type.getNavn() }}
						</label>
					</div>
				</li>
			{% endfor %}
		</ol>
	</div>
</div>
