<div class="col-xs-12">
	<h1>Opprett ny sesong</h1>
	<p class="lead">Bruk denne siden for å opprette {{ seasons.new.year }}-sesongen</p>
	
	<div class="alert alert-danger col-sm-8">
		<h4>Dette MÅ gjøres i riktig rekkefølge!</h4>
		<p>Husk også å ta en ekstra backup eller to før du starter</p>
	</div>
	<div class="clearfix"></div>

	<h2>Forberedelser</h2>
	<ol class="list">
		<li>
			Lag HTMl-kopi av nettsiden <a href="https://www.httrack.com/" target="_blank">HTTracker software</a> 
			<br />
			<small>
				(obs: denne kan ødelegge e-postlenker. I 2016 prøvd å ikke krysse av for "build mail index")
			</small>
		</li>
		<li>
			Opprett en ny konto på cPanel ({{ seasons.active.year }}.ukm.no), og last opp HTML-kopien dit
		</li>
		<li>
			Legg inn index.php for videresending fra forside til derdubor (se forrige år)
		</li>
		<li>
			Legg inn videresending i wp-login-fila
		</li>
		<li>
			Oppdater siden 
			"<a href="/tidligere-ar/" target="_blank">UKM.no/tidligere-ar</a>"
			med lenker fra {{ seasons.active.year }}-sesongen
		</li>
		<li>
			Oppdater siden 
			"<a href="/din_monstring/" target="_blank">der du bor</a>", 
			med informasjon om at vi setter opp ny sesong, 
			og at man finner {{ seasons.active.year }}-sidene på 
			<a href="/tidligere-ar/" target="_blank">UKM.no/tidligere-ar</a>
		</li>
	</ol>
	
	<h2>Backup og opprydding</h2>
	<ol>
		<li>
			Kopier brukernavn-tabellen ukmno_wp2012.ukm_brukere til ukmno_wp2012.ukm_brukere_{{ seasons.active.year }}
		</li>
		<li>
			Kopier databasen ukmno_ss3 til ukmno_ss3_bu{{ seasons.active.year }}
		</li>
		<li>
			Kopier databasen ukmno_wp2012 til ukmno_wp2012_bu{{ seasons.active.year }}
		</li>
	</ol>

	<h2>Ny sesong</h2>
	<div class="row">
		<p class="alert alert-warning col-xs-12 col-sm-8">
			Nå begynner det du kun kan gjøre én gang, og disse må gjøres etter hverandre i samme arbeidsøkt
		</p>
	</div>
	<ol>
		<li>
			Initier ny sesong 
			<a href="?page={{ GET('page') }}&action=ukmdb">[klikk her for å starte]</a>
		</li>
		<li>
			Oppdater wordpress 
			<a href="?page={{ GET('page') }}&action=wp_setup">[klikk her for å starte]</a>
		</li>
		<li>
			Oppdater fylkesbrukernes passord 
			<a href="?page={{ GET('page') }}&action=wp_users">[klikk her for å starte]</a>
		</li>
		<li>
			Opprett nye mønstringssider 
			<a href="?page={{ GET('page') }}&action=wp_blogs">[klikk her for å starte]</a>
		</li>
		<li>
			Oppdater URL-adresser 
			<a href="#" data-old="/wp-admin/network/admin.php?page=UKMsystemtools_modrewrite">[klikk her for å re-generere adresser]</a>
		</li>
		<li>
			Fiks bruker for Lærdal og Lardal 
			<a href="#" data-old="//github.com/UKMNorge/UKMnetwork_admin/issues/4" target="_blank">[les mer]</a>
		</li>
	</ol>
</div>
<div class="clearfix"></div>