<div class="col-xs-12 col-sm-8">
	<h1>Opprett ny sesong: init database</h1>
	<p class="lead">Følgende data legges til grunn for nye mønstringsobjekter</p>
	
	<h2>Aktiv sesong: {{ seasons.active.year }} <small>(den vi går fra)</small></h2>
	<table>
		<tbody>
			<tr>
				<th width="200">Første dag</th>
				<td>{{ seasons.active.start|dato('d.m.Y H:i:s') }}</td>
			</tr>
			<tr>
				<th>Siste dag</th>
				<td>{{ seasons.active.stop|dato('d.m.Y H:i:s') }}</td>
			</tr>
			<tr>
				<th>Antall mønstringer</th>
				<td>{{ monstringer|length }}</span> mønstringer som vil dupliseres til neste sesong</td>
			</tr>
		</tbody>
	</table>

	<h2>Ny sesong: {{ seasons.new.year }} <small>(den vi skal opprette nå)</small></h2>
	<table>
		<tbody>
			<tr>
				<th width="200">Frist lokalmønstringer</th>
				<td>{{ seasons.new.frist.lokal|dato('d.m.Y H:i:s') }}</td>
			</tr>
			<tr>
				<th>Frist fylkesfestivaler</th>
				<td>{{ seasons.new.frist.fylke|dato('d.m.Y H:i:s') }}</td>
			</tr>
		</tbody>
	</table>

	<p>&nbsp;</p>
	<div class="clearfix"></div>
	
	<p>
		<a href="?page={{ GET('page') }}&action={{ GET('action') }}&init=do" class="btn btn-danger">
			Opprett {{ monstringer|length }} {{ seasons.new.year }}-mønstringer
		</a>
	</p>

	<p>
		<i>
			Når du trykker "opprett" vil database-endringene starte. Hittil er ingen endringer gjort.
		</i>
	</p>
	
</div>