<h1>Wordpress-brukere for fylket</h1>

<table class="table table-striped">
	{% for bruker in brukere %}
		<tr class="alert-{{ bruker.success ? 'success':'danger' }}">
			<th>{{ bruker.brukernavn }}</th>
			<td>{{ bruker.passord }}</td>
			{% if bruker.success %}
				<td>{{ bruker.status }}</td>
			{% else %}
				<td>{{ bruker.error }}</td>
			{% endif %}
		</tr>
	{% endfor %}
</table>

<h2>Fylkesbrukerne har n책 f책tt nye passord</h2>
<p>
	<a href="?page={{ GET('page') }}" class="btn btn-success">
		Du kan n책 g책 videre til steg 4
	</a>
</p>