<div class="col-xs-12 col-sm-8">
	<h1>Se gjennom informasjonen før du legger til {{ kommune.getNavn() }} i {{ monstring.getNavn() }}</h1>
		
	<h4>En ny side overtar dagens nettside</h4>
	<ol class="list-group">
		<li class="list-group-item">
			{% if rapport.temp.eksisterer %}
				En eksisterende midlertidig-blogg vil bli oppdatert på
			{% else %}
				En ny midlertidig-blogg vil bli opprettet på
			{% endif %}
			<span class="label">
				({{ rapport.temp.path }})
			</span>
		</li>
		<li class="list-group-item"> 
			Midlertidig-bloggen vil oppdateres til å matche mønstring 
			<span class="label">
				{{ monstring.getId() ~': '~ monstring.getNavn() }}
			</span>,
			før den merkes som "flyttet"
		</li>
		<li class="list-group-item">
			Midlertidig-bloggen vil flyttes og overta den tidligere bloggen på  
			<span class="label">
				({{ rapport.from.path }})
			</span>
		</li>
	</ol>

	<h4>Dagens nettside flyttes til ny URL</h4>
	<ol class="list-group">
		<li class="list-group-item">
			{{ kommune.getNavn() }} blir lagt til i mønstringen
		</li>
		<li class="list-group-item">
			Kommune-brukeren til {{ kommune.getNavn() }} blir lagt til fellesmønstringssiden
		</li>
		<li class="list-group-item">
			Fellesmønstringen får det nye navnet 
			<span class="label">
				{{ rapport.to.navn }}
			</span>
		</li>
		<li class="list-group-item">
			Den nye nettsiden vil oppdateres til å matche mønstring 
			<span class="label">
				{{ monstring.getId() ~': '~ rapport.to.navn }}
			</span>
		</li>
		<li class="list-group-item">
			Den eksisterende nettsiden vil flyttes og få ny URL på
			<span class="label">
				({{ rapport.to.path }})
			</span>
		</li>
	</ol>
	

	<h4>{{ kommune.getNavn() }}s gamle nettside</h4>
	<ol class="list-group">
		<li class="list-group-item">
			Hvis {{ kommune.getNavn() }} har hatt mønstring tidligere vil
			den gamle siden være merket "avlyst". Alle avlyste sider vil
			automatisk videresende brukerne til en ny side hvis denne eksisterer.
			Dette er derfor i orden uten at noen endringer gjøres.
		</li>
	</ol>


	{% if rapport.to.eksisterer %}
		<h4>OBS: en nettside vil bli slettet!</h4>
		<ol class="list-group">
			<li class="list-group-item alert-danger">
				Det eksisterer allerede en nettside på
				<span class="label">{{ rapport.to.path }}</span>.
				Denne vil få ny path 
				<span class="label">{{ rapport.to.delPath }}</span>
				og bli slettet.
			</li>
		</ol>
	{% endif %}

	<p>
		&nbsp;
	</p>
	
	<p>
		<a href="?page={{ GET('page') }}&pl_id={{ GET('pl_id') }}&k_id={{ GET('k_id') }}&confirmed=true" class="btn btn-warning">
			Ja, legg til {{ kommune.getNavn() }} i fellesmønstringen
		</a>
	</p>
	
	<p>
		<i>
			Dette starter umiddelbart database- og nettsideendringene
		</i>
	</p>
	
	<p style="margin-top: 2em;">
		<a href="?page={{ GET('page') }}" class="btn btn-success">
			Nei, ikke legg til {{ kommune.getNavn() }}!
		</a>
	</p>
</div>