<h1>Legg til en kommune/bydel i en mønstring</h1>

<p class="lead"></p>


{% if kommuner is defined %}
	<h3>Velg kommunen du ønsker å legge til i en annen mønstring</h3>
	<div class="col-xs-12 col-sm-8">
		<table class="table table-striped">
			{% for kommune in kommuner %}
				<tr>
					<th>
						{{ kommune.navn}}
					</th>
					<td style="text-align:right">
						<a href="?page={{ GET('page') }}&k_id={{ kommune.id }}" class="btn btn-success float-right">Velg mønstring</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td class="alert-success">
						Alle registrerte kommuner er tilknyttet en mønstring!
					</td>
				</tr>
			{% endfor %}
		</table>
	</div>
{% else %}
	<div class="col-xs-12 col-sm-8">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Fellesmønstring</th>
					<th>Trekk ut</th>
				</tr>
			</thead>
			<tbody>
				{% for monstring in monstringer %}
					<tr>
						<td>{{ monstring.getNavn() }}</td>
						<td>
							<a href="?page={{ GET('page') }}&k_id={{ GET('k_id') }}&pl_id={{ monstring.getId() }}" class="btn btn-block btn-success">
								Legg til {{ kommune.getNavn() }} i denne mønstringen
							</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endif %}