<div class="col-xs-12 col-sm-8">
	<h1>Er du sikker på at du vil fjerne {{ kommune.getNavn() }} fra fellesmønstringen?</h1>
	
	{% if pavirkede > 0 %}
		<div class="alert alert-danger">
			<h3>{{ kommune.getNavn() }} har {{ pavirkede }} påmeldte innslag!</h3>
			
			<p>
				Velger du å gå videre nå vil disse {{ pavirkede }} innslagene stå uten et sted å delta.
				<br />
				De vil heller ikke få et varsel om at {{ kommune.getFylke().erOslo() ? 'bydelen':'kommunen' }}
				er ute av fellesmønstringen.
			</p>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-6">
				<div class="alert alert-success">
					<h5>Jeg skal legge til {{ kommune.getNavn }} i en annen mønstring</h5>
					<p>
						Da kan du trygt fortsette
					</p>
					<p>
						&nbsp;
						<br />
					</p>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6">
				<div class="alert alert-warning">
					<h5>{{ kommune.getNavn() }} skal ikke arrangere UKM</h5>
					<p>
						Før du fortsetter må du forsikre deg om at lokalkontaktene 
						varsler de {{ pavirkede }} innslagene om at de er avmeldt UKM, og 
						hvordan de evt kan melde seg på et annet sted.
					</p>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
	{% endif %}
	<p>
		&nbsp;
	</p>
	
	
	<h3>Følgende endringer vil skje om du fortsetter</h3>
	
	<h4>En ny side overtar dagens nettside</h4>
	<ol class="list-group">
		<li class="list-group-item">
			{% if rapport.temp.eksisterer %}
				En eksisterende midlertidig-blogg vil bli oppdatert på
			{% else %}
				En ny midlertidig-blogg vil bli opprettet på
			{% endif %}
			<span class="label">
				({{ rapport.temp.path }})
			</span>
		</li>
		<li class="list-group-item"> 
			Midlertidig-bloggen vil oppdateres til å matche mønstring 
			<span class="label">
				{{ monstring.getId() ~': '~ monstring.getNavn() }}
			</span>,
			før den merkes som "splittet"
		</li>
		<li class="list-group-item">
			Midlertidig-bloggen vil flyttes og overta den tidligere bloggen på  
			<span class="label">
				({{ rapport.from.path }})
			</span>
		</li>
	</ol>

	<h4>Dagens nettside flyttes til ny URL</h4>
	<ol class="list-group">
		<li class="list-group-item">
			{{ kommune.getNavn() }} blir fjernet fra fellesmønstringen
		</li>
		<li class="list-group-item">
			Kommune-brukeren til {{ kommune.getNavn() }} blir fjernet fra fellesmønstringssiden
		</li>
		<li class="list-group-item">
			Fellesmønstringen får det nye navnet 
			<span class="label">
				{{ rapport.to.navn }}
			</span>
		</li>
		<li class="list-group-item">
			Den nye nettsiden vil oppdateres til å matche mønstring 
			<span class="label">
				{{ monstring.getId() ~': '~ rapport.to.navn }}
			</span>
		</li>
		<li class="list-group-item">
			Den eksisterende nettsiden vil flyttes og få ny URL på
			<span class="label">
				({{ rapport.to.path }})
			</span>
		</li>
	</ol>
	
	{% if rapport.to.eksisterer %}
		<h4>OBS: en nettside vil bli slettet!</h4>
		<ol class="list-group">
			<li class="list-group-item alert-danger">
				Det eksisterer allerede en nettside på
				<span class="label">{{ rapport.to.path }}</span>.
				Denne vil få ny path {{ rapport.to.delPath }} og bli slettet.
			</li>
		</ol>
	{% endif %}
	
	<p>
		&nbsp;
	</p>
	
	<p>
		<a href="?page={{ GET('page') }}&pl_id={{ GET('pl_id') }}&k_id={{ GET('k_id') }}&confirmed=true" class="btn btn-danger">
			Ja, trekk {{ kommune.getNavn() }} ut av fellesmønstringen
		</a>
	</p>
	
	<p>
		<i>
			Dette starter umiddelbart database- og nettsideendringene
		</i>
	</p>
	
	<p style="margin-top: 2em;">
		<a href="?page={{ GET('page') }}" class="btn btn-success">
			Nei, ikke trekk ut {{ kommune.getNavn() }}!
		</a>
	</p>
</div>