<form method="POST" action="?page={{ GET('page') }}">
    <input type="hidden" name="id" value="{{ GET('kontakt') }}"/>
    <input type="hidden" name="type" value="kontakt" />
    <div style="margin-left: .2em; margin-right: 1em; max-width: 768px;">
        <div class="row">
            <div class="col-12 col-sm-12">
                <h2>{{ kontakt is defined ? 'Rediger '~ kontakt.getNavn() : 'Legg til kontakt' }}</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-sm-6">
                <div class="form-group">
                    <label>Fornavn</label>
                    <input type="text" class="form-control" name="fornavn" value="{{ kontakt.getFornavn() }}" autofocus />
                </div>
                <div class="form-group">
                    <label>Etternavn</label>
                    <input type="text" class="form-control" name="etternavn" value="{{ kontakt.getEtternavn() }}" />
                </div>

                <div class="form-group">
                    <label>Mobil</label>
                    <input type="text" class="form-control" name="telefon" value="{{ kontakt.getTelefon() }}" />
                </div>
            
                <div class="form-group">
                    <label>E-post</label>
                    <input type="text" class="form-control" name="epost" value="{{ kontakt.getEpost() }}" />
                </div>

                <div class="form-group">
                    <label>Tittel</label>
                    <input type="text" class="form-control" name="tittel" value="{{ kontakt.getTittel() }}" />
                </div>
            </div>

            <div class="col-12 col-sm-6">
                <img src="{{kontakt.getBilde()|replace({'http:':'https:'})}}" class="thumbnail" id="contact_image" width="250" />
                <input type="hidden" value="{{kontakt.getBilde()}}" name="image" id="contact_image_input" />
                <p class="text-muted">Det er sterkt anbefalt 책 laste opp bilde, <br />da det senker terskelen for 책 ta kontakt</p>
                <button class="btn btn-xs btn-primary" id="imageedit">Endre bilde</button>
            </div>
        </div>
        
        <div class="row">
            <div class="col-12 col-sm-12">
                <div class="form-group">
                    <label>Facebook-profil</label>
                    <input type="url" class="form-control" name="facebook" value="{{ kontakt.getFacebook() }}" />
                    <p class="text-muted">
                    G책 inn p책 din egen facebook-profil, og kopier adresselinjen. Adressen skal se ca slik ut:<br />
                    https://facebook.com/hans.hansen
                    </p>
                </div>
            </div>
        </div>
        

        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <button type="submit" class="btn btn-success" id="formSubmit">Lagre</button>
            </div>
        </div>

    </div>
 </form>
 
