       <div class="row">
            {% if arrangement.getType() == 'land' %}
                <div class="col-12 col-sm-6">
                    <div class="form-group">
                        <label>Ordinærkvote ledere</label>
                        <input class="form-control" type="number" name="kvote_ledere" value="{{kvote_ledere}}" placeholder="Har vanligvis vært 3"/>
                    </div>
                </div>

                <div class="col-12 col-sm-6">
                    <div class="form-group">
                        <label>Ordinærkvote deltakere</label>
                        <input class="form-control" type="number" name="kvote_deltakere" value="{{kvote_deltakere}}" placeholder="Har vanligvis vært 30"/>
                    </div>
                </div>
                <div class="col-12 col-sm-12">
                    <div class="form-group">
                        <label>URL til informasjonsbrev 1</label>
                        <input class="form-control" type="text" name="info1" value="{{ info1 }}"/>
                        <p class="help text-muted">
                            Tips: du laste opp dette under menyvalget media, og kopiere vedleggs-adressen derfra.
                        </p>
                    </div>

                    <div class="form-group">
                        <label>Frister for nominasjon</label>
                        <textarea class="form-control" name="nominasjon_frister" rows="5">{{ nominasjon_frister }}</textarea>
                    </div>
                </div>
            {% endif %}
        </div>


        {% if arrangement.getType() == 'land' %}
            <div class="row">
                <div class="col-12 col-sm-12">
                    <h3>Økonomi</h3>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-sm-4">
                    <label>Subsidiert deltakeravgift</label>
                    <div class="input-group">
                        <span class="input-group-addon">kr.</span>
                        <input class="form-control" type="number" name="avgift_subsidiert" value="{{avgift_subsidiert}}"/>
                    </div>
                </div>
                <div class="col-12 col-sm-4">
                    <label>Ordinær deltakeravgift</label>
                    <div class="input-group">
                        <span class="input-group-addon">kr.</span>
                        <input class="form-control" type="number" name="avgift_ordinar" value="{{avgift_ordinar}}"/>
                    </div>
                </div>
                <div class="col-12 col-sm-4">
                    <label>Egenandel reise</label>
                    <div class="input-group">
                        <span class="input-group-addon">kr.</span>
                        <input class="form-control" type="number" name="avgift_reise" value="{{avgift_reise}}"/>
                    </div>
                </div>
            </div>

            <div class="row" style="margin-top: 1em; margin-bottom: 2em;">
                <div class="col-12 col-sm-4">
                    <label>Pris per døgn på Hotell UKM Norge</label>
                    <div class="input-group">
                        <span class="input-group-addon">kr.</span>
                        <input class="form-control" type="number" name="hotelldogn_pris" value="{{hotelldogn_pris}}"/>
                    </div>
                </div>
            </div>
        {% endif %}