<div class="row" style="margin-top: 2em;">
    <div class="col-12 col-sm-12">
        <h4>Videresending</h4>
    </div>

    <div class="col-12 col-sm-6">
        <label>Når åpner videresendingen?</label>
        <div class="input-group" style="margin-bottom: 1em;">
            <input class="datepicker_{{ arrangement.getType() == 'fylke' ? 'fylke_forward' : 'land' }} form-control" type="text" name="frist_2" value="{{ arrangement.getFrist2()|dato('d.m.Y') }}"/>
            <span class="input-group-addon">kl. 08:00</span>
        </div>
    </div>

    <div class="col-12 col-sm-6">
        <label>Når stenger videresendingen?</label>
        <div class="input-group" style="margin-bottom: 1em;">
            <input class="datepicker_{{ arrangement.getType() }} form-control" type="text" name="frist_1" value="{{ arrangement.getFrist1()|dato('d.m.Y') }}"/>
            <span class="input-group-addon">kl. 23:59</span>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-12 col-sm-12">
        <label>Informasjonstekst som vises til de som videresender</label>
        <ol class="list-group">
            <li class="list-group-item">
                <div class="fade-collapsible">
                    <div class="content">
                        {% if arrangement.getInformasjonstekst() is empty %}
                            <p>
                                Du har ikke lagt til informasjonstekst enda. Dette er frivillig, men anbefalt.
                            </p>
                            <p>
                                Ved videresending, kan denne informasjonsteksten vises.
                                Dette er en god anledning til å skrive inn kvoter, viktige regler, eller annen
                                informasjon som vil være nyttig ved videresendingen.
                            </p>
                            <p>
                                Start gjerne med velkommen, eller hei, slik at det er blir litt hyggeligere
                                for de som skal videresende.
                            </p>
                        {% else %}
                            {{ arrangement.getInformasjonstekst()|raw }}
                        {% endif %}
                    </div>
                    <div class="actions">
                        <span class="icon dashicons dashicons-arrow-down-alt2"></span>
                    </div>
                </div>
            </li>
        </ol>

        <div class="clearfix"></div>
        <p style="margin-top: -1em;" class="pull-right">
            <a href="#" class="goTo btn btn-xs btn-primary" data-action="infotekst">rediger informasjonstekst</a>
        </p>
    </div>
</div>

<div class="row">
    <div class="col-12 col-sm-12">
        <label>Skal de som videresender også fylle ut informasjonsskjema?</label>
        <p>
            Her kan du lage f.eks. et lederskjema, eller et skjema for å innhente informasjon
            om allergier, som må fylles ut med videresending.
            <br />
            Dette er ikke et skjema deltakerne, fyller ut, men et skjema som arrangøren fyller ut når de videresender.
            <br />
            Det fylles ut ett skjema per avsender-arrangement.
        </p>
        <div>
            <div class="btn-group radioButtons" data-name="sammen">
                <button type="button" class="btn btn-default" value="yes">
                    &nbsp; Ja &nbsp;</button>
                <button type="button" class="btn btn-default selected" value="no">
                    &nbsp; Nei &nbsp;</button>
            </div>
        </div>
        {#
        <p>
            {% if arrangement.harSkjema() %}
                Husk å
                <a href="?page=UKMVideresendingsskjema">oppdatere videresendingsskjemaet</a>
                du ber dine lokalkontakter om å fylle ut før videresendingen åpner.
            {% else %}
                <a href="?page=UKMVideresendingsskjema">Du kan opprette et spørreskjema</a>
                som lokalkontakene dine må fylle ut ved videresending.
            {% endif %}
        </p>
        #}
    </div>
</div>
