<ol class="list-group avsenderListe">
    {% for avsender in avsendere %}
        <li class="list-group-item avsenderMonstring {{ arrangement.getId() == avsender.getId() ? 'text-muted'}}" data-filter="{{ avsender.getNavn() }} {{ avsender.getEier().getNavn() }}" data-id="{{ avsender.getId() }}" data-name="{{ avsender.getNavn() }}">
            <label class="normal">
                <input type="checkbox" class="form-control" name="avsender[]" value="{{ avsender.getId() }}" {{ arrangement.getId() == avsender.getId() ? 'disabled' }} {{ arrangement.getVideresending().harAvsender( avsender.getId() ) ? 'checked' }}/>
                {{ avsender.getNavn() }}
                <br />
                <small class="text-muted" style="margin-left:2em;">
                    {% if arrangement.getId() == avsender.getId() %}
                        (dette arrangementet)
                    {% elseif avsender.getEier().getNavn() != avsender.getNavn() %}
                        {{ avsender.getEier().getNavn() }}
                    {% endif %}
                </small>
            </label>
        </li>
    {% else %} 
        <li class="list-group-item">
            Fant ingen arrangementer
        </li>
    {% endfor %}
</ol>