<div class="row" id="avsendere">
	<div class="col-12 col-sm-12">
		<ol class="list-group">
			<li class="list-group-item">
				<div id="visAvsenderArrangement">
					{% for avsender in arrangement.getVideresending().getAvsendere() %}
						<span class="avsender label label-primary" id="visAvsenderArrangement_{{ avsender.getId() }}">
							{{ avsender.getNavn() }}
						</span>
					{% else %}
						<div id="ingenAvsendere">
							Det er ingen arrangement som kan videresende til
							{{arrangement.getNavn()}}.
							{% if not arrangement.harPamelding() %}
								Siden påmelding er slått av, kan du ikke få nye påmeldte før du har valgt
								                                ett eller flere arrangement som kan videresende til deg.
							{% endif %}
						</div>
					{% endfor %}
				</div>
			</li>
		</ol>
		<p style="margin-top: -1em;" class="pull-right">
			<a href="#" class="btn btn-ukm btn-xs btn-primary" id="visRedigerAvsenderArrangement" data-skjul="lukk listen">rediger / legg til arrangement</a>
		</p>
	</div>
	<div class="clearfix"></div>

	<div id="container_arrangementVelger" style="display:none;">
		<div class="col-12 col-sm-12" style="margin-top: .4em; margin-bottom: 1.4em;">
			<label>Velg arrangement fra listene nedenfor</label>
			<div class="input-group">
				<input type="text" class="form-control input-sm" placeholder="Søk etter arrangement..." id="filterArrangement">
				<span class="input-group-btn">
					<button class="btn btn-default btn-sm" type="button">
						<span class="dashicons dashicons-search"></span>
					</button>
				</span>
			</div>
			<p class="text-muted">
				Vi anbefaler at du søker, da det er mye raskere enn å scrolle i listene nedenfor.
			</p>
		</div>

		{# KOMMUNER/BYDELER OG FYLKER #}
		{% if arrangement.getEierType() in ['kommune','fylke'] %}
			{% if arrangement.getEierType() == 'kommune' %}
				<div class="col-12 col-sm-6 col-md-4">
					<div class="list-header">I
						{{ arrangement.getFylke().erOslo ? 'bydelen' : 'kommunen' }}</div>
					{% embed "Videresending/avsender.html.twig" with {'avsendere': arrangementer_av_kommunen } %}{% endembed %}
				</div>
			{% endif %}

			<div class="col-12 col-sm-6 col-md-4">
				<div class="list-header">Andre
					{{ arrangement.getFylke().erOslo ? 'bydeler' : 'kommuner' }}
					i
					{{ arrangement.getFylke().getNavn() }}</div>
				{% embed "Videresending/avsender.html.twig" with {'avsendere': arrangementer_i_fylket } %}{% endembed %}
			</div>

			<div class="col-12 col-sm-6 col-md-4">
				<div class="list-header">Av
					{{ arrangement.getFylke().getNavn() }}
					fylke</div>
				{% embed "Videresending/avsender.html.twig" with {'avsendere': arrangementer_av_fylket } %}{% endembed %}
			</div>
			{# LANDSNIVÅ #}
		{% else %}
			<div class="col-12 col-sm-6 col-md-4">
				<div class="list-header">Fylkesfestivaler</div>
				{% embed "Videresending/avsender.html.twig" with {'avsendere': arrangementer_fylke_monstring } %}{% endembed %}
			</div>
			<div class="col-12 col-sm-6 col-md-4">
				<div class="list-header">Fylkenes andre arrangement</div>
				{% embed "Videresending/avsender.html.twig" with {'avsendere': arrangementer_fylke } %}{% endembed %}
			</div>

			<div class="col-12 col-sm-6 col-md-4">
				<div class="list-header">Dine og lokale arrangement</div>
				{% embed "Videresending/avsender.html.twig" with {'avsendere': arrangementer } %}{% endembed %}
			</div>

		{% endif %}
		<div class="clearfix"></div>
	</div>
</div>
