{% set selectedIds = [] %}

{% if arrangement.getType() == 'land' %}
    {% set arrangementerILista = avsendere|map((arrang) => arrang.getId()) %}

    {# Alle arrangementer som har bedt om videresending #}
    {% for reqAvsender in arrangement.getRequestVideresendingerTil().getAll() %}
        {% set requestArrangement = reqAvsender.getArrangementFra() %}
        {% if requestArrangement.getId() in arrangementerILista %}
            {% set selectedIds = selectedIds|merge([requestArrangement.getId()]) %}
        {% endif %}
    {% endfor %}
{% endif %}





<ol class="list-group avsenderListe">
    {% for avsender in avsendere %}
        {% if (arrangement.erKunstgalleri() and avsender.erKunstgalleri()) or (not arrangement.erKunstgalleri() and not avsender.erKunstgalleri()) %}

        <li class="list-group-item avsenderMonstring {{ arrangement.getId() == avsender.getId() ? 'text-muted'}}" data-filter="{{ avsender.getNavn() }} {{ avsender.getEier().getNavn() }}" data-id="{{ avsender.getId() }}" data-name="{{ avsender.getNavn() }}">
            <label class="normal">
                <input type="checkbox" class="form-control" name="avsender[]" value="{{ avsender.getId() }}" {{ arrangement.getId() == avsender.getId() ? 'disabled' }} {{ arrangement.getVideresending().harAvsender( avsender.getId() ) ? 'checked' }}/>
                {{ avsender.getNavn() }}
                <br />
                <small class="text-muted" style="margin-left:2em;">
                    {% if arrangement.getId() == avsender.getId() %}
                        (dette arrangementet)
                    {% elseif avsender.getEier().getNavn() != avsender.getNavn() %}
                        {{ avsender.getEier().getNavn() }}
                    {% endif %}
                </small>
            </label>
            {% if avsender.getId() in selectedIds %}
                <span class="label label-warning">Bedt om videresending</span>
            {% endif %}
        </li>
        {% endif %}
    {% else %} 
        <li class="list-group-item">
            Fant ingen arrangementer
        </li>
    {% endfor %}
</ol>