<div class="row" style="margin-top: 3em;">
	<div class="col-12 col-sm-12">
		<h4>Skal noen innslag nomineres før de kan videresendes?</h4>

		<div>
			<div class="btn-group radioButtons" data-name="benyttNominasjon">
				<button type="button" class="btn btn-default {{ arrangement.harNominasjon() ? 'selected' }}" value="true">
					&nbsp; Ja &nbsp;</button>
				<button type="button" class="btn btn-default {{ not arrangement.harNominasjon() ? 'selected' }}" value="false">
					&nbsp; Nei &nbsp;</button>
			</div>
		</div>
	</div>

	<div >
		<div class="col-12 col-sm-6 mt-5 nominasjon_detaljer" {{ not arrangement.harNominasjon() ? 'style="display:none;"' }}>
			<label>Velg vilke typer innslag som skal nomineres</label>
			<p class="text-muted">OBS: Husk å krysse av for at du tar i mot videresending for de også (se ovenfor)</p>
        </div>
		<div class="col-12 col-sm-6 mt-5 nominasjon_detaljer" {{ not arrangement.harNominasjon() ? 'style="display:none;"' }}>
			<ol class="list-group">
				{% for type in innslag_typer|filter(type => type.kanHaNominasjon() ) %}
					<li class="list-group-item">

						<div class="pull-right">
							<div class="btn-group radioButtons" data-name="nominer_{{type.getKey()}}">
								<button type="button" class="btn btn-default {{ arrangement.harNominasjonFor(type) ? 'selected' }}" value="true">
									&nbsp; Ja &nbsp;</button>
								<button type="button" class="btn btn-default {{ not arrangement.harNominasjonFor(type) ? 'selected' }}" value="false">
									&nbsp; Nei &nbsp;</button>
							</div>
						</div>

						{{ type.getNavn() }}
						<div class="clearfix"></div>
					</li>
				{% endfor %}
			</ol>
		</div>
		<div class="col-12 col-sm-12 nominasjon_detaljer" {{ not arrangement.harNominasjon() ? 'style="display:none;"' }}>

			<label>Beskriv frister og regler for nominasjon</label>
			<p>Det du skriver her er kun synlig for de voksne som fyller ut skjema / videresender til ditt arrangement, og ikke til deltakerne.</p>
			<textarea name="nominasjon_informasjon" class="form-control">{{ arrangement.getNominasjonInformasjon() }}</textarea>
		</div>
	</div>
</div>
